---
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}";
@import "minimal-mistakes";

html {
  font-size: 17px;
}

@media (min-width: 64em) {
  html {
    font-size: 17px;
  }
}

@media (min-width: 48em) {
  html {
    font-size: 17px;
  }
}
